body {
    background-color: green;
}

.card {
    
    justify-content: space-between; 
    align-items: center; 
    flex-direction: column; 
    align-content: stretch;
    height: 100%;
    padding: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 400px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.top-icon {
    flex: 0 1 auto;
    align-self: flex-start;
    size: 10px;
    font-size: 47px;
}

.number {
    align-self: center;
    font-size: 47px;
}

.bottom-icon {
    align-self: flex-end;
    font-size: 47px;
}